footer {
  display: flex;
  /*Use these setting for a proper footer*/
  justify-content: center;
  /*Use these setting for a proper footer*/
  align-items: center;
  /*Use these setting for a proper footer*/
  position: absolute;
  /*Use these setting for a proper footer*/
  bottom: 0;
  /*Use these setting for a proper footer*/
  width: 100%;
  /*Use these setting for a proper footer*/
  height: 70px;
  background-color: rgb(28, 28, 28);
  box-shadow: 0px -5px 15px 5px rgb(20, 20, 20);
  letter-spacing: 0.8px;
}