nav li {
  display: inline;
  list-style-type: none;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  text-align: center;
  margin: 1.25rem;
}

.navbar {
  position: fixed;
  z-index: 101;
  top: 0;
  padding: 1rem 3rem;
  background-color: rgb(28, 28, 28);
  box-shadow: 0px 5px 15px 5px rgb(20, 20, 20);
  width: 100vw;
}

.active {
  border-bottom: solid var(--light-lime) 1px;
}