.vert-line-1,
.vert-line-2 {
  border-left: solid var(--light-lime) 1px;
  position: absolute;
  margin-left: 50%;
  height: 90px;
}

.vert-line-1 {
  margin-top: -103px;
}

.vert-line-2 {
  margin-top: 55%;
}

.slug {
  list-style: none;
  display: inline-block;
  position: fixed;
  top: 200px;
  margin-left: 1.75%;
  margin-top: 10%;
}

.slug li {
  color: var(--lime);
  font-size: 1.12rem;
  margin-bottom: 12px;
  transition: 0.35s;
}

.slug li a {
  color: inherit;
}

.slug li:hover {
  color: rgb(235, 235, 235);
}