.about-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  padding: 1.5% 0%;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 18px 8px rgb(10, 10, 10);
  border-radius: 10px;
  border-left: dashed var(--lime) 1px;
  border-right: dashed var(--lime) 1px;
}

.about-box div {
  padding: 1% 2%;
}

.about-box h1 {
  font-family: "Staatliches", cursive;
  font-size: clamp(2.5rem, 2.5vw, 2.8rem);
  text-align: center;
  letter-spacing: 3.5px;
  text-shadow: 8px 7px 0px rgb(0, 0, 0);
  margin-top: -0.75rem;
}

.about-box ul {
  list-style: none;
  margin-left: 8.8%;
  margin-right: 4.5%;
  margin-top: -0.5%;
  margin-bottom: 1%;
}

.about-box ul li::before {
  display: inline-block;
  content: "≻";
  color: var(--light-lime);
  width: 1em;
  margin-right: -0.4rem;
}

.about-box ul li {
  list-style-position: inside;
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
  text-indent: -0.75rem;
  line-height: 1.9rem;
  margin-bottom: 1.25%;
}

.about-box hr {
  border: none;
  border-top: dashed var(--lime) 1px;
  height: 1px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.intro-box {
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  line-height: 1.8rem;
  position: relative;
  padding: 2.75% 5.5%;
  margin: 0% auto 2.5% auto;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 18px 8px rgba(10, 10, 10);
  border-radius: 10px;
  border-left: dashed var(--lime) 1px;
  border-right: dashed var(--lime) 1px;
}

.hello {
  display: inline-block;
  position: relative;
  margin-right: 0.75rem;
  margin-bottom: 0.65rem;
  font-family: "Staatliches", cursive;
  font-size: clamp(2.7rem, 2.7vw, 3rem);
  letter-spacing: 3.5px;
  text-shadow: 8px 7px 0px rgb(0, 0, 0);
  animation-name: hello;
  animation-delay: 1.35s;
  animation-duration: 1.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes hello {
  0% {
    transform: translateX(-700%);
    opacity: 0;
    color: var(--lime);
  }

  85% {
    transform: translateX(300%);
    opacity: 1;
    color: var(--lime);
  }

  100% {
    opacity: 1;
  }
}


.happy {
  display: inline-block;
  position: relative;
  animation-name: happy;
  animation-delay: 2.7s;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes happy {
  0% {
    transform: scale(1);
  }

  65% {
    font-family: "Staatliches", cursive;
    transform: scale(2.25);
    font-size: 2.1rem;
    color: var(--lime);
  }

  100% {
    font-family: "Staatliches", cursive;
    font-size: 1.9rem;
    letter-spacing: 2px;
    text-shadow: 8px 7px 0px rgb(0, 0, 0);
    transform: scale(1);
    margin: 0 0.2rem;
    color: var(--lime);
  }
}

.date {
  position: relative;
  display: inline-block;
  width: 160px;
  padding: 10px 0px;
  margin-left: -100px;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 15px 5px rgb(10, 10, 10);
  font-size: 1.15rem;
  text-align: center;
  border-radius: 25px;
  border: solid var(--light-lime) 2px;
  opacity: 0;
}

.date-animation {
  animation-name: date-enter-left;
  animation-delay: 0.25s;
  animation-duration: 1.1s;
  animation-fill-mode: both;
}

@keyframes date-enter-left {
  0% {
    transform: translateX(-700%);
    opacity: 0;
  }

  85% {
    transform: translateX(160%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.location {
  font-size: clamp(1.25rem, 1.25vw, 1.35rem);
  margin-left: 3%;
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

  .about-box,
  .intro-box {
    width: 65%;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

  .about-box,
  .intro-box {
    width: 65%;
  }
}

/* Big screen devices (1024px and above) */
@media only screen and (min-width: 1024px) {

  .about-box,
  .intro-box {
    width: 65%;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

  .about-box,
  .intro-box {
    width: 57%;
  }
}