.home-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  padding: 2.75% 2.5% 1.25% 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 18px 8px rgb(10, 10, 10);
}

.home-box p {
  font-family: "Staatliches", cursive;
  font-size: clamp(6rem, 7.5vw, 9.5rem);
  line-height: 75%;
  text-shadow: 14px 12px 0px rgb(0, 0, 0);
  margin-bottom: 1.4rem;
}

.pic-home {
  position: absolute;
  top: 51%;
  right: 2%;
  transform: translateY(-55%);
  width: clamp(210px, 18.5vw, 19.2vw);
  height: clamp(210px, 18.5vw, 19.2vw);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--lime) 4px;
  box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
}

.pic-home img {
  display: block;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.pic-home img:hover {
  transform: scale(1.025);
}

.green-dash {
  font-size: clamp(5.7rem, 6.7vw, 8.7rem);
  color: var(--lime);
  animation-name: show-dash;
  animation-delay: 4.3s;
  animation-duration: 1s;
  animation-timing-function: steps(1);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes show-dash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wade,
.andrew,
.web,
.developer {
  position: relative;
  width: fit-content;
}

.wade {
  animation-name: enter-left-wade;
  animation-delay: 0.15s;
  animation-duration: 1.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes enter-left-wade {
  0% {
    transform: translateX(-525%);
    opacity: 0;
  }

  80% {
    transform: translateX(72%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.andrew {
  animation-name: enter-left-andrew;
  animation-delay: 1.15s;
  animation-duration: 1.16s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes enter-left-andrew {
  0% {
    transform: translateX(-320%);
    opacity: 0;
  }

  80% {
    transform: translateX(45%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.web {
  animation-name: enter-left-web;
  animation-delay: 2.3s;
  animation-duration: 1.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes enter-left-web {
  0% {
    transform: translateX(-550%);
    opacity: 0;
  }

  80% {
    transform: translateX(87%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.developer {
  animation-name: enter-left-developer;
  animation-delay: 3.3s;
  animation-duration: 1.13s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes enter-left-developer {
  0% {
    transform: translateX(-245%);
    opacity: 0;
  }

  80% {
    transform: translateX(40%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .home-box {
    width: 70%;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .home-box {
    width: 66%;
  }
}

/* Big screen devices (1024px and above) */
@media only screen and (min-width: 1024px) {
  .home-box {
    width: 62%;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .home-box {
    width: 56%;
    margin-top: 3%;
  }
}