.message-box {
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  opacity: 0;
  animation-name: fade-in-message;
  animation-delay: 0.35s;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes fade-in-message {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  85% {
    transform: scale(1.03);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.message-box p {
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.11rem;
}

.message-box ul li {
  list-style: none;
  font-size: 1.2rem;
  padding-bottom: 0.25rem;
}

.message-box ul {
  margin-top: 0.5rem;
}

.message-card-body {
  border-top: solid gray 1px;
  padding-top: 15px;
  margin-top: -35px;
  white-space: pre-wrap;
}