.work-box-flex {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  padding: 0.5%;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 18px 8px rgb(10, 10, 10);
  border-radius: 10px;
  opacity: 1;
}

.work-animation {
  font-family: "Staatliches", cursive;
  font-size: clamp(2.7rem, 3.7vw, 3.7rem);
  letter-spacing: 0.2rem;
  text-shadow: 9px 8px 0px rgb(0, 0, 0);
  position: relative;
  width: 60%;
  margin-top: -1%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation-name: work;
  animation-duration: 1.2s;
  animation-delay: 0.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes work {
  0% {
    transform: translateX(-115%);
    opacity: 0;
  }

  85% {
    transform: translateX(45%);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.work-flex-item-image {
  position: relative;
  width: 57%;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all ease-in-out;
}

.work-flex-item-image-fadein {
  animation-name: fadein;
  animation-delay: 0.2s;
  animation-duration: 0.9s;
  animation-fill-mode: both;
  will-change: opacity, margin-top;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: -5%;
  }

  to {
    opacity: 1;
  }
}

.work-flex-item-image img {
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}

.work-flex-item-image img:hover {
  transform: scale(1.025);
}

.work-flex-item-description {
  position: relative;
  width: 43%;
  opacity: 0;
}

.work-flex-item-description-fade-down {
  animation-name: fade-down;
  animation-delay: 0.2s;
  animation-duration: 1.1s;
  animation-fill-mode: both;
  will-change: opacity, margin-top;
}

@keyframes fade-down {
  from {
    opacity: 0;
    margin-top: -12%;
  }

  to {
    opacity: 1;
  }
}

.description-right {
  background: linear-gradient(rgba(100, 100, 100, 0.9), rgba(25, 25, 25, 0.9));
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.55);
  font-size: clamp(1rem, 1vw, 1.05rem);
  line-height: 1.55rem;
  color: white;
  display: block;
  position: relative;
  width: 125%;
  top: 8%;
  right: 13%;
  padding: 2.5%;
  border-radius: 5px;
  z-index: 100;
}

.description-site-para {
  font-size: clamp(1rem, 1vw, 1.05rem);
  position: relative;
  top: 10%;
  left: 7%;
}

.site-link {
  color: rgb(230, 230, 230);
  position: relative;
  padding: 0.25% 0.5%;
  transition: 0.3s;
  cursor: pointer;
}

.site-link:hover {
  color: black;
}

.site-link::before {
  content: "";
  background-color: var(--lime);
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 98%;
  height: 6%;
  border-radius: 2px;
  z-index: -1;
  transition: 0.3s;
}

.site-link:hover::before {
  height: 108%;
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .work-box-flex {
    width: 81%;
  }

  .work-animation {
    width: 79%;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .work-box-flex {
    width: 77%;
  }

  .work-animation {
    width: 75%;
  }
}

/* Big screen devices (1024px and above) */
@media only screen and (min-width: 1024px) {
  .work-box-flex {
    width: 73%;
  }

  .work-animation {
    width: 71%;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .work-box-flex {
    width: 62%;
  }

  .work-animation {
    width: 60%;
  }
}

/* Extra extra big screen devices (1500px and above) */
@media only screen and (min-width: 1500px) {
  .work-box-flex {
    width: 56%;
  }

  .work-animation {
    width: 54%;
  }

  .description-right {
    font-size: clamp(1.03rem, 1.03vw, 1.08rem);
  }
}